wordpress_bkp/*
vendor/*
old-root/*
.env
.htaccess
.user.ini
storage/logs/*
public/php.ini
public/.htaccess
customer/.htaccess
customer/system/storage/logs/*
customer/view/template/administration/scan-data-report.txt
customer/config.php
customer/view/template/administration/below-cost-report.csv
customer/view/template/administration/cash-and-sales-summary-report.csv
customer/view/template/administration/error_log_import_item.txt
customer/view/template/administration/import-item-status-report.txt
posadmin/system/storage/logs/*
kiosk/system/storage/logs/*
kiosk/config.php
/app/Http/Middleware/HttpsProtocol.php